.global {
  background-color: #111117;
  min-height: 100vh;
  padding-left: 300px;
  margin: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  padding: 30px;
  background-color: #232132;
  border-radius: 12px;
  margin: 10px;
  box-sizing: border-box;
  max-width: calc(100vw - 320px);

  flex-grow: 1;
  overflow-y: auto;
}